{{- define "main" }}
{{- $p := . }}
{{- range .choices }}
<label{{ if $p.labelClasses }} class="{{$p.labelClasses}}"{{end}} for="{{.ID}}">{{.Val}}</label>
<input type="checkbox" name="{{$p.name}}"{{ if $p.classes }} class="{{$p.classes}}"{{end}} value="{{.ID}}"
{{- if $p.params}}{{range $k2, $v2 := $p.params}} {{$k2}}="{{$v2}}"{{end}}{{end -}}
{{- if $p.css}} style="{{range $k2, $v2 := .css}}{{$k2}}: {{$v2}}; {{end}}"{{end -}}
{{- if .Checked}} checked="checked"{{end -}}
{{- range $p.tags}} {{.}}{{end}}>
{{- end }}
{{- end }}